<section class="footer  content-wr">
  <p class="site-map">Карта сайта:</p>
  <div class="footer-ul-wr">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">Создание сайтов</a></li>
      <li><a href="#">Поисковое продвижение</a></li>
      <li><a href="#">Имиджевые услуги</a></li>
      <li><a href="#">Контекстная реклама</a></li>
      <li><a href="#">Увеличение конверсии</a></li>
      <li><a href="#">СММ</a></li>
      <li><a href="#">Другие услгуги</a></li>
      <li><a href="#">Создание порталов</a></li>
    </ul>
    <ul>
      <li><a href="#">Нейминг</a></li>
      <li><a href="#">Аудит сайта</a></li>
      <li><a href="#">Копирайтинг</a></li>
      <li><a href="#">Медийная реклама</a></li>
      <li><a href="#">Таргетированная реклама</a></li>
      <li><a href="#">Реклама в сообществах</a></li>
      <li><a href="#">Введение сообщества</a></li>
      <li><a href="#">Продвижение сообщества</a></li>
      <li><a href="#">Тех. поддержка</a></li>
    </ul>
    <ul>
      <li><a href="#">Яндекс</a></li>
      <li><a href="#">Гугл</a></li>
      <li><a href="#">Разработка логотипа</a></li>
      <li><a href="#">Медийная реклама</a></li>
      <li><a href="#">Фирменный стиль</a></li>
      <li><a href="#">Написание текстов</a></li>
      <li><a href="#">Регистрация доменов</a></li>
      <li><a href="#">Дизайн</a></li>
      <li><a href="#">Яндекс деньги</a></li>
      <li><a href="#">Гугл Адвордс</a></li>
    </ul>
    <ul>
      <li><a href="#">Статьи</a></li>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Наши клиенты</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Сайт для бизнеса</a></li>
      <li><a href="#">Интернет магазин</a></li>
      <li><a href="#">Лендинг</a></li>
    </ul>    
  </div>
  <div class="footer-bottom-wr">
    <div class="footer-bottom  content-wr">
      <a class="footer-logo" href="index.html"></a>
      <div class="footer-social">
        <p class="footer-social-text">Мы в соц сетях:</p>
        <ul class="footer-social">
          <li><a class="google" href="#">
            <img src="img/footer/google.png" alt="google">
          </a></li>
          <li><a class="tweet" href="#">
            <img src="img/footer/tweet.png" alt="">
          </a></li>
          <li><a class="mail" href="#">
            <img src="img/footer/mail.png" alt="">
          </a></li>
          <li><a class="facebook" href="#">
            <img src="img/footer/facebook.png" alt="">
          </a></li>
          <li><a class="rss" href="#">
            <img src="img/footer/rss.png" alt="">
          </a></li>
          <li><a class="vk" href="#">
            <img src="img/footer/vk.png" alt="">
          </a></li>
          <li><a class="mail-ru" href="#">
            <img src="img/footer/mail-ru.png" alt="">
          </a></li>
          <li><a class="yandex" href="#">
            <img src="img/footer/yandex.png" alt="">
          </a></li>
          <li><a class="class-mates" href="#">
            <img src="img/footer/class-mates.png" alt="">
          </a></li>                                                             
        </ul>
      </div>
      <div class="contacts-wr">
        <a href="#">Адрес: г.Екатеринбург, дом 3, офис 220, 2 эт.</a>
        <a href="mailto:promocity.ekb@yandex.ru">E-mail: promocity.ekb@yandex.ru</a>        
      </div>
    </div>
  </div>
  <div class="footer-gray-strip content-wr"></div>
</section>
