<div class="header-wr">

  <section class="header content-wr">
    <a class="header-logo" href="index.html"></a>
    <nav class="main-nav">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Готовые проекты</a></li>
        <li><a href="#">О компании</a></li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a class="tel" href="#">+7 (912) <span>278 59 68</span></a>
      <a class="tel" href="#">+7 (912) <span>278 59 68</span></a>
    </div>
</section>
</div>